---
layout: default
---
 <!-- The drawer is always open in large screens. The header is always shown,
  even in small screens. -->
<style>
    .mdl-layout__header,
    .mdl-layout__drawer-button,
    .mdl-layout__header .mdl-layout__drawer-button,
    .mdl-layout__header-row .mdl-navigation__link {
        color: white;
    }
</style>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
            mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <div class="mdl-layout-spacer"></div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                  mdl-textfield--floating-label mdl-textfield--align-right">
                <label class="mdl-button mdl-js-button mdl-button--icon" for="fixed-header-drawer-exp">
                    <i class="material-icons">search</i>
                </label>
                <div class="mdl-textfield__expandable-holder">
                    <input class="mdl-textfield__input" type="text" name="sample" id="fixed-header-drawer-exp" />
                </div>
            </div>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">{{ site.title }}</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="page-content">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
                <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">

                    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                        <div class="mdl-tabs__tab-bar">
                            <a href="#starks-panel" class="mdl-tabs__tab is-active">Starks</a>
                            <a href="#lannisters-panel" class="mdl-tabs__tab">Lannisters</a>
                            <a href="#targaryens-panel" class="mdl-tabs__tab">Targaryens</a>
                        </div>

                        <div class="mdl-tabs__panel is-active" id="starks-panel">
                            <ul>
                                <li>Eddard</li>
                                <li>Catelyn</li>
                                <li>Robb</li>
                                <li>Sansa</li>
                                <li>Brandon</li>
                                <li>Arya</li>
                                <li>Rickon</li>
                            </ul>
                        </div>
                        <div class="mdl-tabs__panel" id="lannisters-panel">
                            <ul>
                                <li>Tywin</li>
                                <li>Cersei</li>
                                <li>Jamie</li>
                                <li>Tyrion</li>
                            </ul>
                        </div>
                        <div class="mdl-tabs__panel" id="targaryens-panel">
                            <ul>
                                <li>Viserys</li>
                                <li>Daenerys</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include footer.html %}
    </main>
</div>