---
layout: default
---
<!-- Uses a transparent header that draws on top of the layout's background -->
<style>
    .demo-layout__header--transparent {
        height: 300px;
    }
</style>

<style>
    .demo-layout-transparent {
        background: url('../assets/transparent.jpg') center / cover;
    }
    
    .demo-layout-transparent,
    .mdl-layout__drawer-button,
    .mdl-layout__header-row .mdl-navigation__link {
        /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
        color: white;
    }
</style>

<div class="mdl-layout mdl-js-layout">
    <header class="demo-layout-transparent mdl-layout__header mdl-layout__header--transparent demo-layout__header--transparent">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">{{ site.title }}</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation -->
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="">Link</a>
                <a class="mdl-navigation__link" href="">Link</a>
                <a class="mdl-navigation__link" href="">Link</a>
                <a class="mdl-navigation__link" href="">Link</a>
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">{{ site.title }}</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
        </nav>
    </div>
    <main class="mdl-layout__content">
        {{ content }}
        {% include footer.html %}
    </main>
</div>